nav {
    background-color: black;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* nav .nav-right {
    right: 0;
} */
nav .nav-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0!important;
    padding-left: 0!important;
}
nav .nav-right ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
    text-decoration: none;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

.logout-button {
    border-radius: 12px;
    background-color: tomato;
    color: white;
    box-shadow: none;
    padding: 10px 15px;
    cursor: pointer;
}